<h1>List of stations</h1>

<table>
  <tr>
    <th>Title</th>
    <th colspan="3"></th>
  </tr>

  <%= render @railway_stations %>

</table>

<br><%= link_to 'New railway station', new_railway_station_path %>