<h1>New Station</h1>

<%= form_for :railway_station, url: railway_stations_path do |f| %>
    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.submit %>
    </p>
<% end %>
