<h1>Station</h1>

<p>
  <strong>Title:</strong>
  <%= @railway_station.title %>
</p>
<%= link_to 'Back', railway_stations_path %>
<%= link_to 'Edit', edit_railway_station_path(@railway_station) %>
<%= link_to 'Destroy', railway_station_path(@railway_station), method: :delete, data: { confirm: 'Are you sure?' } %>